<div>
    <h2 id="page-heading">
        <span jhiTranslate="portfolioApp.projet.home.title">Projets</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-projet" [routerLink]="['/projet/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="portfolioApp.projet.home.createLabel">
            Create a new Projet
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="projets?.length === 0">
        <span jhiTranslate="portfolioApp.projet.home.notFound">No projets found</span>
    </div>
    <div class="table-responsive" *ngIf="projets?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="portfolioApp.projet.nom">Nom</span></th>
            <th scope="col" ><span jhiTranslate="portfolioApp.projet.decription">Decription</span></th>
            <th scope="col" ><span jhiTranslate="portfolioApp.projet.environnement">Environnement</span></th>
            <th scope="col" ><span jhiTranslate="portfolioApp.projet.actif">Actif</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let projet of projets ;trackBy: trackId">
                <td><a [routerLink]="['/projet', projet.id, 'view' ]">{{projet.id}}</a></td>
                <td>{{projet.nom}}</td>
                <td>{{projet.decription}}</td>
                <td>{{projet.environnement}}</td>
                <td>{{projet.actif}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/projet', projet.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/projet', projet.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(projet)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
