<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="projet">
            <h2><span jhiTranslate="portfolioApp.projet.detail.title">Projet</span> {{projet.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="portfolioApp.projet.nom">Nom</span></dt>
                <dd>
                    <span>{{projet.nom}}</span>
                </dd>
                <dt><span jhiTranslate="portfolioApp.projet.decription">Decription</span></dt>
                <dd>
                    <span>{{projet.decription}}</span>
                </dd>
                <dt><span jhiTranslate="portfolioApp.projet.environnement">Environnement</span></dt>
                <dd>
                    <span>{{projet.environnement}}</span>
                </dd>
                <dt><span jhiTranslate="portfolioApp.projet.actif">Actif</span></dt>
                <dd>
                    <span>{{projet.actif}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/projet', projet.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
