<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="diapositive">
            <h2><span jhiTranslate="portfolioApp.diapositive.detail.title">Diapositive</span> {{diapositive.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="portfolioApp.diapositive.photoUrl">Photo Url</span></dt>
                <dd>
                    <span>{{diapositive.photoUrl}}</span>
                </dd>
                <dt><span jhiTranslate="portfolioApp.diapositive.contenu">Contenu</span></dt>
                <dd>
                    <span>{{diapositive.contenu}}</span>
                </dd>
                <dt><span jhiTranslate="portfolioApp.diapositive.projet">Projet</span></dt>
                <dd>
                    <div *ngIf="diapositive.projet">
                        <a [routerLink]="['/projet', diapositive.projet?.id, 'view']">{{diapositive.projet?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/diapositive', diapositive.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
