<div>
    <h2 id="page-heading">
        <span jhiTranslate="portfolioApp.diapositive.home.title">Diapositives</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-diapositive" [routerLink]="['/diapositive/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="portfolioApp.diapositive.home.createLabel">
            Create a new Diapositive
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="diapositives?.length === 0">
        <span jhiTranslate="portfolioApp.diapositive.home.notFound">No diapositives found</span>
    </div>
    <div class="table-responsive" *ngIf="diapositives?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="portfolioApp.diapositive.photoUrl">Photo Url</span></th>
            <th scope="col" ><span jhiTranslate="portfolioApp.diapositive.contenu">Contenu</span></th>
            <th scope="col" ><span jhiTranslate="portfolioApp.diapositive.projet">Projet</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let diapositive of diapositives ;trackBy: trackId">
                <td><a [routerLink]="['/diapositive', diapositive.id, 'view' ]">{{diapositive.id}}</a></td>
                <td>{{diapositive.photoUrl}}</td>
                <td>{{diapositive.contenu}}</td>
                <td>
                    <div *ngIf="diapositive.projet">
                        <a [routerLink]="['/projet', diapositive.projet?.id, 'view' ]" >{{diapositive.projet?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/diapositive', diapositive.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/diapositive', diapositive.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(diapositive)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
