<div>
    <h2 id="page-heading">
        <span jhiTranslate="portfolioApp.portfolioConfiguration.home.title">Portfolio Configurations</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-portfolio-configuration" [routerLink]="['/portfolio-configuration/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="portfolioApp.portfolioConfiguration.home.createLabel">
            Create a new Portfolio Configuration
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="portfolioConfigurations?.length === 0">
        <span jhiTranslate="portfolioApp.portfolioConfiguration.home.notFound">No portfolioConfigurations found</span>
    </div>
    <div class="table-responsive" *ngIf="portfolioConfigurations?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
            <th scope="col" ><span jhiTranslate="portfolioApp.portfolioConfiguration.cvUrl">Cv Url</span></th>
            <th scope="col" ><span jhiTranslate="portfolioApp.portfolioConfiguration.email">Email</span></th>
            <th scope="col" ><span jhiTranslate="portfolioApp.portfolioConfiguration.presentation">Presentation</span></th>
            <th scope="col" ><span jhiTranslate="portfolioApp.portfolioConfiguration.profileUrl">Profile Url</span></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let portfolioConfiguration of portfolioConfigurations ;trackBy: trackId">
                <td><a [routerLink]="['/portfolio-configuration', portfolioConfiguration.id, 'view' ]">{{portfolioConfiguration.id}}</a></td>
                <td>{{portfolioConfiguration.cvUrl}}</td>
                <td>{{portfolioConfiguration.email}}</td>
                <td>{{portfolioConfiguration.presentation}}</td>
                <td>{{portfolioConfiguration.profileUrl}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/portfolio-configuration', portfolioConfiguration.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/portfolio-configuration', portfolioConfiguration.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(portfolioConfiguration)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
