<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="portfolioConfiguration">
            <h2><span jhiTranslate="portfolioApp.portfolioConfiguration.detail.title">Portfolio Configuration</span> {{portfolioConfiguration.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="portfolioApp.portfolioConfiguration.cvUrl">Cv Url</span></dt>
                <dd>
                    <span>{{portfolioConfiguration.cvUrl}}</span>
                </dd>
                <dt><span jhiTranslate="portfolioApp.portfolioConfiguration.email">Email</span></dt>
                <dd>
                    <span>{{portfolioConfiguration.email}}</span>
                </dd>
                <dt><span jhiTranslate="portfolioApp.portfolioConfiguration.presentation">Presentation</span></dt>
                <dd>
                    <span>{{portfolioConfiguration.presentation}}</span>
                </dd>
                <dt><span jhiTranslate="portfolioApp.portfolioConfiguration.profileUrl">Profile Url</span></dt>
                <dd>
                    <span>{{portfolioConfiguration.profileUrl}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/portfolio-configuration', portfolioConfiguration.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
