body {
  overflow-x: hidden;
  height: 100vh;
}

.container-fluid {
  height: 100vh;
  overflow-x: hidden;
}

.bodyMain {
  background: no-repeat url('images/background.png');
  background-position: bottom;
  background-size: 100%;
  height: 100vh;
}

.mainTitle,
.realisationsTitle,
.realisation {
  text-align: center;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-family: 'Courier New', Courier, monospace;
  letter-spacing: 0.2em;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: uppercase;
}

@media only screen and (max-width: 768px) {
  .bockTitle {
    margin-right: 0.5em;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.2em;
    color: #0074d9;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    font-size: 1.5em;
  }
  .bodyMain {
    background: no-repeat url('images/background.png');
    background-position: bottom;
    background-size: 100%;
    height: 100vh;
  }
  .firstNameTitle,
  .realisationDiv {
    text-align: center;
    font-size: 0.5em;
  }
  .realisationsTitleDiv {
    text-align: center;
    font-size: 0.7em;
  }

  .lastNameTitle {
    text-align: center;
  }

  #profileImg {
    width: 5em;
  }

  .mainTitle {
    font-size: 2.5em;
  }
  .realisationsTitle,
  .realisation {
    font-size: 2em;
    text-align: center;
  }
  .diapoText {
    font-size: 0.2em;
  }
  .cardBody {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
}

@media only screen and (min-width: 768px) {
  .bockTitle {
    margin-right: 0.5em;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 0.2em;
    color: #0074d9;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    font-size: 1.5em;
  }
  .realisationsTitleDiv,
  .realisationDiv {
    text-align: center;
    font-size: 1em;
  }
  .cardBody {
    padding: 1.25rem;
  }
  .diapoText {
    font-size: 1em;
  }
  .bodyMain {
    background: no-repeat url('images/background.png');
    background-position: bottom;
    background-size: 100%;
    height: 100vh;
  }
  .bodyProfil {
    background: no-repeat url('images/background.png');
    background-position: bottom;
    background-size: cover;
  }
  .firstNameTitle {
    text-align: center;
  }

  .lastNameTitle {
    text-align: left;
  }

  #fontContent {
    font-size: 1em;
  }

  #mainContent,
  #projectContent {
    line-height: 2.5;
  }

  #profileImg {
    width: 10em;
  }

  .mainTitle,
  .realisationsTitle {
    font-size: 3.5em;
  }
  .realisation {
    font-size: 2em;
  }
}

@media only screen and (max-width: 665px) {
  .bockTitle {
    font-size: 1em;
  }
  #fontContent {
    font-size: 0.5em;
  }
  .bodyMain {
    background: no-repeat url('images/background.png');
    background-position: bottom;
    background-size: 100%;
    height: 100vh;
  }
}

#mainContent,
#projectContent {
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 0.5em;
  text-align: center;
}

.mainMenu {
  text-align: center;
  margin-bottom: 1em;
}

#bntProfil,
#bntRealisation,
#btnRetour {
  margin-left: 0.5em;
  margin-right: 0.5em;
  font-family: 'Courier New', Courier, monospace;
  font-size: 1em;
  letter-spacing: 0.2em;
  color: #000000;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
}

#bntProfil:hover,
#bntRealisation:hover,
#btnRetour:hover {
  color: orange;
}

#links {
  text-align: center;
}

.link {
  margin-right: 0.5em;
  margin-left: 0.5em;
}

.bodyProfil {
  background: no-repeat url('images/background.png');
  background-position: bottom;
  background-size: cover;
}

#diapo {
  text-align: center;
  padding-top: 1em;
  margin: 0.5em;
  margin-left: 4.2em;
}
